<form action="/registro" method="POST">
    <label for="firstanem">Nombre</label>
    <input type="text" name="firstanem" required>
    <label for="lastname">Apellido</label>
    <input type="text" name="lastname" required>
    <label for="Correo">email</label>
    <input type="email" name="email" required>
    <label for="Contraseña">password</label>
    <input type="password" name="password" required>
    <button type="submit"> Send</button>
  
</form>